body{
    margin: 0;
    padding: 0;
}

header, footer{
    height: 90px;
    background-color: #FF8000;
    display: flex;
    align-items: center;
    padding: 0 60px;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.img-header{
    height: 50px;
}

.menu-button{
    filter: brightness(0) invert(1);
}

main{
    display: flex;
    padding: 90px 0 0 0;
}
  
.basket-container, .dishes-container{
    height: 100vh;
    border: solid 2px black;
}

.dishes-container{
   width: calc(100% - 300px);
   background-image: url("assets/images/pasta-3547078_1280.jpg");
   background-size: cover;
   background-position: center;
}

h3{
    font-size: 48px;
}

.background-color-white{
    background-color: white;
}

.basket-container{
    width: 300px;
    flex-grow: 1;
}

.basket{
   min-height: 100px;
    width: 100%;
    position: sticky;
    top: 10px;
}