@media (max-width: 900px) {
  .basket {
    display: none;
    position: fixed;
            width: 100%;
        height: 100%;
        background-color: #fff8f0;
        top: 0;
  }

 

  main {
    width: 100%;
  }

  .basket-toggle {
    font-weight: 500;
    position: fixed;
    right: 0;
    padding: 20px;
    font-size: 32px;
    background-color: #ff8000;
    display: block;

    cursor: pointer;

    left: 0;
    bottom: 0;
    height: 80px;
  }
}


